.input-type-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-type-container input {
  cursor: pointer;
}

.query-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.query-input-container {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.query-input-container label {
  margin-right: 1rem;
}

.query-input {
  width: 100%;
}

.query-options-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.query-options-container :not(:last-child) {
  margin-right: 0.5rem;
}

.lang-input {
  width: 50px;
}

.limit-input {
  width: 50px;
}

.search-button {
  width: 80px;
  height: 30px;
  background: #00acee;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
}

.search-button:hover {
  background: #0089be;
}
